{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'frontend/css/main.css' %}">
    <title>Contact Us</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand logo" href="{% url 'petronexa_app:homepage' %}">PetroNexa</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto nav">
                  <li class="nav-item"><a class="nav-link" href="{% url 'petronexa_app:fuelfinder' %}">Find Stations</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'petronexa_app:addstation' %}">Add Stations</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'petronexa_app:contact' %}">Contact</a></li>
              </ul>
              <ul class="navbar-nav auth-links">
                  <li class="nav-item"><a class="nav-link" href="{% url 'petronexa_app:login' %}">Login</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'petronexa_app:signup' %}">Signup</a></li>
              </ul>
          </div>
    </nav>
    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <div class="breadcrumbs d-flex align-items-center" style="background-image: url('{% static 'frontend/img/breadcrumb.jpg' %}');">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
    
          <h2>Fuel Finder</h2>
          <ol>
            <li><a href="{% url 'petronexa_app:homepage' %}">Home</a></li>
            <li>Contact</li>
          </ol>
    
        </div>
      </div><!-- End Breadcrumbs -->
      <section class="contact">
        <div class="container">
          <div class="section-title">
            <h2>Contact Us</h2>
          </div>
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location</h4>
              <p>Infinite Grace Plaza Plot 4 Oyetubo Street Lagos NG, off Obafemi Awolowo Way, Ikeja.</p>
            </div>
            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email</h4>
              <p>dansujohn21@gmail.com</p>
            </div>
            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call</h4>
              <p>+234 805 963 4888</p>
            </div>
          </div>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center">
                <button type="submit">Send a Message</button>
            </div>
          </form>
        </div>
      </section>
    </main>
    <footer class="footer mt-5">
      <div class="container text-center bottom">
        <p>&copy; 2023 PetroNexa. All rights reserved.</p>
      </div>
    </footer>
  <script src="{% static 'frontend/js/addstation.js' %}"></script>
  </body>
</html>
