{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'frontend/css/auth.css' %}"> <!-- Add your custom CSS if needed -->
    <title>Login</title>
</head>
<body class="bg-light">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <h4 class="mb-0">Login to PetroNexa</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                        </form>
                    </div>
                </div>
                {% if error_message %}
                    <p class="text-center mt-3 text-danger">{{ error_message }}</p>
                {% endif %}
                <p class="text-center mt-3">
                    Don't have an account? <a href="{% url 'petronexa_app:signup' %}">Sign Up</a>
                </p>
            </div>
        </div>
    </div>
    <footer class="footer mt-5">
        <div class="container text-center bottom">
          <p>&copy; 2023 PetroNexa. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
